.about {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5rem;
	background-image: url(../../images/about-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.h2 {
		color: white;
	}

	.label {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 2px;
		width: fit-content;
		color: white;
		background-color: #0462ee;
		padding: 0.5rem 1rem;
		text-align: center;
	}

	.container-about {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;

		.left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 50%;

			.p {
				font-size: 1.8rem;
				color: white;
				text-align: center;
				padding: 0 3rem;
				font-weight: 700;
				margin-bottom: 5rem;
			}
		}

		.right {
			width: 50%;

			img {
				width: 100%;
			}
		}
	}

	@media only screen and (max-width: 500px) {
		.h2 {
			font-size: 3rem;
		}

		.label {
			font-size: 1.5rem;
		}

		.container-about {
			flex-direction: column-reverse;

			.left {
				width: 100%;
			}

			.right {
				width: 100%;
				margin-bottom: 3rem;
			}
		}
	}
}

.eligibility {
	background-image: url(../../images/can-i-bg.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 0;

	.h2 {
		color: #0085ff;

		span {
			color: #ffb100;
		}
	}

	.requirements {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 1rem 3rem;

		.requirement {
			padding: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.h3 {
				text-align: center;
				font-size: 2.5rem;
				color: #0085ff;
				font-weight: 700;
			}
			img {
				width: 100%;
				margin-bottom: 2rem;
			}

			&:last-child {
				img {
					width: 145%;
				}
			}
		}

		@media only screen and (max-width: 800px) {
			grid-template-columns: repeat(2, 1fr);
			padding: 5rem;
			grid-column-gap: 5rem;

			.requirement {
				padding: 4rem;
				.h3 {
					font-size: 3rem;
				}
			}
		}

		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;

			.requirement {
				.h3 {
					font-size: 4rem;
				}

				img {
					width: 70%;
					margin-bottom: 2rem;
				}

				&:last-child {
					img {
						width: 105%;
					}
				}
			}
		}
	}
}

.benefits {
	background-image: url(../../images/benefits-bg.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 0;

	.h2 {
		color: white;
		background-color: #0085ff;
		padding: 0 2rem;
		margin: 2rem 0;
	}

	.owl-carousel {
		.benefit {
			padding: 5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			img {
				width: 90%;
			}

			.h3 {
				margin-top: 2rem;
				font-size: 2.5rem;
				color: white;
				font-weight: 700;
				text-align: center;
				background-color: #0085ff;
				padding: 0 2rem;
			}

			@media only screen and (max-width: 600px) {
				img {
					width: 65%;
				}

				.h3 {
					font-size: 3rem;
				}
			}
		}
	}
}
